{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx"],
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "proseWrap": "always",
  "singleAttributePerLine": true
}
